# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.iml

# Build/compiled
dist/
build/
.next/
out/

# Logs
logs/
*.log

# OS
Thumbs.db
.DS_Store

# Generated
/generated/prisma
